## Analysis of tip.json

#### Data loading

In [1]:
import pandas as pd

# read the entire file into a python array
with open('yelp_dataset/yelp_academic_dataset_tip.json', 'rb') as f:
    data = f.readlines()

# remove the trailing "\n" from each line
data = map(lambda x: x.rstrip(), data)
data_json_str = "[" + ','.join(data) + "]"

# now, load it into pandas
df = pd.read_json(data_json_str)
print("tip.json contains %i records, each composed by %i columns." % (df.shape[0], df.shape[1]))

tip.json contains 1320761 records, each composed by 5 columns.

#### Data preview

In [2]:
df.head()

,business_id,compliment_count,date,text,user_id
0,UYX5zL_Xj9WEc_Wp-FrqHw,0,2013-11-26 18:20:08,Here for a quick mtg,hf27xTME3EiCp6NL6VtWZQ
1,Ch3HkwQYv1YKw_FO06vBWA,0,2014-06-15 22:26:45,Cucumber strawberry refresher,uEvusDwoSymbJJ0auR3muQ
2,rDoT-MgxGRiYqCmi0bG10g,0,2016-07-18 22:03:42,Very nice good service good food,AY-laIws3S7YXNl_f_D6rQ
3,OHXnDV01gLokiX1ELaQufA,0,2014-06-06 01:10:34,It's a small place. The staff is friendly.,Ue_7yUlkEbX4AhnYdUfL7g
4,GMrwDXRlAZU2zj5nH6l4vQ,0,2011-04-08 18:12:01,"8 sandwiches, $24 total...what a bargain!!! An...",LltbT_fUMqZ-ZJP-vJ84IQ

#### Top Rated

In [3]:
df.sort_values(by=['compliment_count'], ascending=False).head()

,business_id,compliment_count,date,text,user_id
787686,gwdQwe1JHLe-vPY9PjKOUg,15,2016-11-15 10:26:49,"Ending your pet's life is devastating enough, ...",wTfb2nfzPIyFcYQArdPtuQ
784151,Rrzm4bQDrrUnDyA5eRY3KQ,12,2016-09-14 19:57:29,1st Pet was very kind in regards to helping wi...,wTfb2nfzPIyFcYQArdPtuQ
561141,j7zJxmr8BfYJhC3KW9BshA,11,2015-09-17 15:22:35,License photographer assured me her photos alw...,8DEyKVyplnOcSKx39vatbg
188992,QJ6GXAAMkgCZPF0bZk0xLw,9,2015-06-18 19:04:37,Heads up.... The sweet older couple who owned ...,Fv0e9RIV9jw5TX3ctA1WbA
208097,D6K3VT6S8FwFm4u5uN8T8g,8,2015-08-16 06:41:22,"WARNING, TMI to follow: After multiple therape...",A5A34ixb-yy6nwL42iZsnw